section {
  background-color: rgba(226, 226, 226, 0.6);
}
img {
  margin: auto;
  height: 1 em;
}

.red {
  color: red;
  font-weight: bold;
}

.test_login {
  font-size: larger;
  font-weight: bolder;
  font-style: oblique;
}
